# Core Deep Learning Framework
tensorflow~=2.16.1

# Numerical operations
numpy~=1.26.4

# Machine learning utilities and evaluation metrics
scikit-learn~=1.5.0

# Plotting and visualization
matplotlib~=3.8.4
seaborn~=0.13.2

# Image handling library (a dependency for Keras image processing)
Pillow~=10.3.0

# For running the project in a Jupyter environment
notebook~=7.2.0
